html, body {
	background-image: url("../images/contemporary_china_2.png");
	height: 100%;
	margin: 0;
}

html {
	width: 960px;
}

#logo {
	font-family: "Georgia", Times, Times New Roman, serif;
	background-color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 2px;
	color: white;
	margin-left: 30px;
}

#links-to-pages, p, form .bottom-centered {
	font-family: "Arial", "Helvetica Neve", Helvetica, sans-serif;
	color: #777777;
}

#header-of-page {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

#bio-image{
	margin-right: 15px;
	float: left;
}

p {
	width: 650px;
	margin-left: 10px;
}

#links-to-pages{
	float: right;
	margin-right: 15px;
}

#logo-images {
	width: 60px;
	margin-right: 5px;
	float: right;
}

.footer {
	height: 25px;
	background-color: #666666;
	color: white;
	font-size: 10px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 8px;
	border-top-color: #4aaaa5;
	padding: 25px;
}
